<?xml version="1.0" encoding="UTF-8" ?>
<document>
  <alertTemplate>
    <title>Network Failed</title>
    <description>Network Connection Failed.</description>

    <button template="tvml/CatalogMenuBar.xml.js"><text>retry</text></button>

  </alertTemplate>
</document>


