<?xml version="1.0" encoding="UTF-8" ?>
<document>
  <alertTemplate>
    <title><%=productDescription.result.shortDescription%></title>
    <description><%=productDescription.result.longDescription%></description>
  </alertTemplate>
</document>