<?xml version="1.0" encoding="UTF-8" ?>
<document>

    <head>
        <style>
            .ordinalLayout {
                margin: 8 0 0 9;
            }


        </style>
    </head>
    <catalogTemplate>
        <banner>
            <title>Catalog Menu</title>
        </banner>
        <list>
            <section>
                <% catalogMenu.result.forEach(x => { %>
                <listItemLockup>
                    <title><%= x.label %></title>
                    <relatedContent>
                        <grid>
                            <section>
                                <% x.children.forEach(y => { %>
                                <lockup template="tvml/RootMenuBar.xml.js?id=<%=[catalogMenu.result.indexOf(x), x.children.indexOf(y)]%>">
                                    <img src="../../lib/img/quake-console.png" width="300" height="300"/>
                                    <title><%= y.label %></title>
                                </lockup>
                                <% }) %>
                            </section>
                        </grid>
                    </relatedContent>
                </listItemLockup>
                <% }) %>
            </section>
        </list>
        <footer></footer>
    </catalogTemplate>
</document>