<?xml version="1.0" encoding="UTF-8" ?>
<document>
    <menuBarTemplate>
        <menuBar>
            <menuItem template="tvml/Catalog.xml.js" presentation="menuBarItemPresenter">
                <title>Catalog</title>
            </menuItem>
            <menuItem>
                <title>Lookbook</title>
            </menuItem>
        </menuBar>
    </menuBarTemplate>
</document>