<?xml version="1.0" encoding="UTF-8" ?>
<document>
    <showcaseTemplate>
        <banner>
            <title>Your Look!</title>
            <row>
                <button template="tvml/LookStreams.xml.js"><text>Shop</text></button>
                <button template="tvml/LookQR.xml.js"><text>Finished</text></button>
            </row>
        </banner>
        <carousel>
            <section>
                <% lookHolder.forEach( x => { %>
                <lockup>
                    <img src="<%= x.product.image %>" width="400" height="400"/>
                </lockup>
                <% }) %>
            </section>
        </carousel>
    </showcaseTemplate>
</document>