<?xml version="1.0" encoding="UTF-8" ?>
<document>
    <divTemplate>
        <row style="tv-align: center;">
            <lockup>
                <img src="<%=qrCode%>" width="300" height="300"/>
            </lockup>
        </row>
        <row style="tv-align: center; margin: 150 0 0 0;">
            <buttonLockup template="tvml/RootMenuBar.xml.js">

                <text>Home</text>
            </buttonLockup>
        </row>
    </divTemplate>
</document>