<?xml version="1.0" encoding="UTF-8" ?>
<document>
    <catalogTemplate>
        <banner>
            <title>
                Suggested
            </title>
        </banner>
        <list>
            <section>
                <% suggestedProductList.forEach(x => { %>
                <listItemLockup>
                    <title><%= x.result.name %></title>
                    <relatedContent>
                        <grid>
                            <section>
                                <% x.result.products.forEach( y => { %>
                                <lockup template="tvml/RootMenuBar.xml.js?pid=<%=y.id%>">
                                    <img src="<%=y.image.src%>" width="300" height="300"/>
                                    <title><%= y.name %></title>
                                </lockup>
                                <% }) %>
                            </section>
                        </grid>
                    </relatedContent>
                </listItemLockup>
                <% }) %>
            </section>
        </list>
    </catalogTemplate>
</document>