<?xml version="1.0" encoding="UTF-8" ?>
<document>
    <head>
        <style>
            .showTextOnHighlight {
                tv-text-highlight-style: show-on-highlight;
            }

            .whiteBadge {
                tv-tint-color: rgb(255, 255, 255);
            }

            .shelfLayout {
                padding: 20 90 50;
            }
        </style>
    </head>
    <productTemplate theme="light">
        <background>
        </background>
        <banner>
            <heroImg src="<%= productDescription.result.images[0].source %>"/>
            <stack>
                <title><%= productDescription.result.shortDescription %></title>

                <description allowsZooming="true"
                             template="tvml/AlertWithDescription.xml.js"
                             presentation="modalDialogPresenter"><%= productDescription.result.longDescription %></description>
                <row>
                    <buttonLockup template="tvml/SingleProductLook.xml.js">
                        <text>Add to my look</text>
                    </buttonLockup>
                </row>
            </stack>
        </banner>
        <shelf>
            <header>
                <title>Recommended Products Shelf</title>
            </header>
            <section>
                <% for (var i = 0;i < recommendedProducts.result.length ;++i) { %>
                <lockup template="tvml/Product.xml.js?id=<%= recommendedProducts.result[i].id %>">
                    <img class="ordinalLayout" src="<%= recommendedProducts.result[i].image.src %>" width="308"
                         height="308"/>
                    <title><%= recommendedProducts.result[i].name %></title>
                </lockup>
                <% } %>
            </section>
        </shelf>
        <shelf>
            <header></header>
            <section>
                <% productDescription.result.images.forEach( x => { %>
                <lockup template="tvml/Showcase.xml.js">
                    <img class="ordinalLayout" src="<%= x.source %>" width="308"
                         height="308"/>
                </lockup>
                <% }) %>
            </section>
        </shelf>
    </productTemplate>
</document>


