<?xml version="1.0" encoding="UTF-8" ?>
<document>
    <menuBarTemplate>
        <menuBar>
            <menuItem template="tvml/Product.xml.js?id=<%= pid %>" presentation="menuBarItemPresenter">
                <title>Product</title>
            </menuItem>
            <% if (lookHolder.length === 0) { %>
            <menuItem template="tvml/LookStreams.xml.js" presentation="menuBarItemPresenter">
                <title>Lookbook</title>
            </menuItem>
            <% } else { %>
            <menuItem template="tvml/CompletedLook.xml.js" presentation="menuBarItemPresenter">

                <title>Lookbook</title>
            </menuItem>
            <% } %>
        </menuBar>
    </menuBarTemplate>
</document>