<?xml version="1.0" encoding="UTF-8" ?>
<document>
    <mainTemplate>
        <background>
            <heroImg src="<%= productDescription.result.images[0].source %>"/>

        </background>
        <menuBar>
            <section>
                <menuItem template="tvml/LookStreams.xml.js">
                    <title>Find More</title>
                </menuItem>
                <menuItem template="tvml/completedLook.xml.js">
                    <title>Complete Look</title>
                </menuItem>
                <menuItem template="tvml/RootMenuBar.xml.js">
                    <title>Start Over</title>
                </menuItem>

            </section>
        </menuBar>
    </mainTemplate>
</document>
